*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x: hidden;
}
/* 

// <div className={styles.container}>
//     <div className={styles.projects}>
//          <Carousel faces={projects}/>
//     </div>
//    <div className={styles.title}>
//         <h1>
//             Title
//         </h1>
//     </div>
//     <div className={styles.description}>
//         <p>
//             Description
//         </p>
//     </div>
// </div>

.container{
    background-color: blue;
    width: 80%;
    height: 50%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    top: 40%;
}

.projects{
    background-color: teal;
    width: 100%;
    height: 60%
}
.title{
    background-color: purple;
    height: 30%;
    width: 50%;
    text-align: right;
    display: flex;
}
.title h1{
    background-color: red;
    width: 80%;
    margin: auto;
}

.description{
    background-color: greenyellow;
    height: 30%;
    width: 50%;
}  */

.page{
    background-color: teal;
    width:100%;
    height: 100%;
    display: flex;
}

.bg_image{
    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('../assets/pg1.gif');
    background-size:cover; */
    width:100%;
    height: 100%;
    position:absolute;
    z-index: 0;
    filter: brightness(0.75);
    box-shadow: 0 0 6px 4px rgba(0,0,0,0.3);}

.container{
    /* background-color: blue; */
    width: 50%;
    height: 30%;
    display: flex;
    flex-flow: row wrap;
    margin:auto;
    margin-bottom: 2%;
    color: white;
    z-index: 1;
}

.info{
    /* background-color: blanchedalmond; */
    width: 100%;
    height: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.title{
    /* background-color: aliceblue; */
    width: 50%;
    height: 100%;
    display: flex;
}
.title h1{
    /* background-color:brown; */
    text-align:end;
    margin: auto;
    letter-spacing: 4px;
    margin-right: 10%;
    /* -webkit-text-stroke: 0.5px black; */
}

.description{
    /* background-color: aqua; */
    width: 50%;
    height: 100%;
    display: flex;
    -webkit-text-stroke: 0.3px black;
}
.description p{
    margin: auto;
    font-size: 1.2rem;
    /* -webkit-text-stroke: 0.5px black; */
}
.projects{
    /* background-color: red; */
    width: 75%;
    height: 30%;
    margin: auto;
}