*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.flex_container{
    width: 100%;
    display: flex;
    margin: auto;
}

.project_page{
    width: 60%;
    height: auto;
    margin: auto;
    font-family: 'Jost', sans-serif;
}

.project_page h1{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}
.project_page p{
    font-size: 1.25rem;
    line-height: 35px;
}
.project_image{
    padding: 50px 0;
    width: 80%;
    margin: auto;
}
.project_image img{
    object-fit: contain;
    width: 100%;
}
.project_image p{
    font-size: 1rem;
    margin: auto;
    text-align: center;
    font-style:italic;
}
.brands {
    display: flex;
    width: 60%;
    margin: auto;
    margin-bottom: 100px;
    height: 200px;
    justify-content: center;
}

.bg-white{
    background-color: #ffffff;
}
.bg-mint-cream{
    background-color: #F7FFF7;
}
.bg-midnight-green{
    background-color: #1A5760;
}
.bg-lemon-chiffon{
    background-color: #fffae0;
}
.panel{
    width: 100vw;
    height: 100vh;
    display: flex;
}
@keyframes revealBottom{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.reveal{
    position: relative;
    animation: 0.8s ease-out 0s 1 revealBottom;
}

.font-primary{
    font-family: 'Kanit', sans-serif;
}

.font-secondary{
    font-family: 'Jost', sans-serif;
}